@import url(https://fonts.googleapis.com/css?family=Oswald:400,700,300);
  		
body{
	margin:0;
}
.emailsection{
	background-color: #f3f3f3;
	height: 90px;				
	width: 200px;
	position: fixed;
	z-index: 500;
	text-align: center;
	margin-top:-90px;
	margin-left: 192px;			
}
.btnshow{
	background-color: #e8e6df;
	border-radius: 0px 0px 10px 10px;
	border: 1px solid rgb(239, 239, 239);				
	border-top: none;
	height: 35px;				
	width: 80px;
	position: fixed;				
	margin-top: 0px;
	cursor: pointer;	
	text-align: center;
	color: rgb(129, 129, 129);
	font-size: 12px;
}
.customizesection{
	background-color: #f3f3f3;
	height: 130px;				
	width: 300px;
	position: fixed;
	z-index: 500;
	text-align: center;
	margin-top:-130px;
}
.btncustomize{
	background-color: #e8e6df;
	border-radius: 0px 0px 10px 10px;
	border: 1px solid rgb(239, 239, 239);				
	border-top: none;
	height: 35px;				
	width: 80px;
	position: fixed;
	margin-left: 202px;
	margin-top: 0px;
	cursor: pointer;	
	text-align: center;
	color: rgb(129, 129, 129);
	font-size: 12px;
}
.btnsend{
	width: 60px;
	height: 21px;
	background-color: rgb(206, 206, 199);
	margin: 10px auto;
	border-radius: 5px;
	font-size: 12px;
	padding-top: 3px;
	cursor: pointer;
}
.loader{
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 1000;
	opacity: 0.4;
	display: none;
	background-color: #f5f5f5;				
}		
.loader td{
	text-align: center;
	vertical-align: middle;
}

.popup{
	z-index: 1001;
	width: 400px;
	height: 400px;
	border-radius: 10px;
	left: 50%;
	background-color: white;
	position: fixed;
	top: 50%;
	margin-top: -200px;
	margin-left: -200px;
	display: none;
}
.inner-popup{
	width: 360px;
	height: 350px;
	background-color: #e8e6df;
	margin:	20px; 
	color: rgb(129, 129, 129);
	padding-top: 10px;
	text-align: center;				
}
.temail{
	width: 250px;
	border: 1px solid rgb(177, 175, 175);
	margin: auto;
}
.temail th{				
	background-color: #61b6e4;
	color:white;
	font-weight:normal;
}
.temail td{
	font-size: 14px;
	height: 30px;
	background-color: #f9f8f5;
}
.login{
	width: 400px;
	height: 300px;
	top: 50%;
	margin-top: -150px;
	left: 50%;
	margin-left: -200px;
	position: fixed;
}
.table-login{
	margin: 10px auto;
	width: 260px;
}
.table-login input{
	width: 170px;
	height: 30px;
	padding-left: 5px;
	padding-right: 5px;
}
